html,
body {
    font-family: "Raleway", sans-serif;
}
video {
    background-color: hsl(181deg 50% 20% / 60%);
    width: 100dvw;
    min-height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.header-text {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header-text h1 {
    font-weight: 100;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem;
}
.header-text span {
    display: block;
    font-weight: 500;
    font-size: 2rem;
    text-shadow: 5px 5px 3px hsl(181deg 50% 20% / 70%), 0 0 2em rgba(255,255, 255, 0.5), 0 0 0.2em rgba(255,255, 255, 0.5);
}
.description {
    margin: auto;
    color: white;
    background-color: hsl(181deg 50% 20% / 70%);
}
.description p {
    /* max-width: 40rem; */
    margin-inline: auto;
    line-height: 1.6;
}
.credit {
    text-align: center;
    font-size: 0.5rem;
    color: rgba(156, 163, 175, 0.5);
}

/* Feature section styles */
.feature {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.feature h3 {
    font-weight: 600;
    color: white;
    font-size: 15px;
}

.feature p {
    margin-top: 5px;
    color: white;
    font-size: 12px;
    width: 90%;
}

.features {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}

/* Media queries for responsive design */
@media (min-width: 400px) {
    .header-text h1 {
        font-weight: 200;
        font-size: 1rem;
    }
    .header-text span {
        font-weight: 500;
        font-size: 3rem;
    }
    .features {
        flex-direction: row;
    }

    .feature h3 {
        font-size: 20px;
    }

    .feature p {
        font-size: 15px;
    }
}

@media (min-width: 1000px) {
    .header-text h1 {
        font-weight: 300;
        font-size: 1.5rem;
    }
    .header-text span {
        font-weight: 600;
        font-size: 3rem;
    }

    .feature h3 {
        font-size: 24px;
    }

    .feature p {
        font-size: 20px;
    }
}

@media (max-height: 400px) {
    .features {
        flex-direction: row;
    }

    .header-text h1 {
        font-weight: 100;
        font-size: 0.7rem;
        margin-bottom: 0.5rem;
    }
    .header-text span {
        font-weight: 400;
        font-size: 2rem;
    }
}
