/* Feature section styles */
.features {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.feature {
    text-align: center;
}

.feature h3 {
    margin-top: 20px;
    font-size: 24px;
    color: white;
}

.feature p {
    margin-top: 10px;
    color: white;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        padding: 40px;
    }

    .features {
        flex-direction: column;
        padding: 40px;
    }
}

html,
body {
    font-family: "Raleway", sans-serif;
}
video {
    background-color: hsl(181deg 50% 20% / 60%);
    width: 100dvw;
    min-height: 100dvh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.header-text {
    position: absolute;
    color: white;
    /* background-color: hsl(181deg 50% 20% / 70%); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transform: translateY(-14rem);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header-text h1 {
    font-weight: 200;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: 1;
}
.header-text span {
    display: block;
    font-weight: 900;
    font-size: 3rem;
}
.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    background-color: hsl(181deg 50% 20% / 70%);
    padding: 2rem;
}
.description p {
    max-width: 40rem;
    margin-inline: auto;
    line-height: 1.6;
}
.credit {
    text-align: center;
    font-size: 0.5rem;
    color: rgba(156, 163, 175, 0.5);
}
